<div class="col-xs-12">
  <%= simple_form_for @user, defaults: { input_html: { class: 'form-control' } } do |f| %>
    <% if !@user.id %>
      <div class="form-group">
        <%= f.input :login, label: "Login" %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.input :password, label: "Senha" %>
    </div>
    <div class="form-group">
      <%= f.input :password_confirmation, label: "Confirmação de Senha" %>
    </div>

    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary pull-right">Salvar</button>
    </div>
  <% end %>
</div>
